{{#> template}}

<main>
    <form action="http://localhost:3000/buscar" method="get">
        <div class="mb-3">
            <input type="text" class="form-control" id="busqueda" placeholder="¿Qué buscas?" name="busqueda">
        </div>
        <button type="submit" class="btn btn-primary" >Buscar</button>
    </form>
</main>

{{/template}}