{{#> template}}

<main id="main-login">
    <div class="card" >

        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form action="ingreso" method="post" id="form-login">
                <div class="mb-3">
                    <label for="user" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="user" name="username" required>
                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                {{#if message.error}}
                    <div class="alert alert-danger">{{message.error}}</div>
                {{/if}}
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
            
        </div>
        <div class="card-footer" >
            <p>¿No tienes una cuenta? Regístrate!</p>
            <button class="btn btn-primary"><a href="/registro" style="color: white">Registrarse</a></button>
        </div>
    </div>
</main>
{{/template}}