{{#> template}}

<main class="main-info">
    <div class="card card-info" style="width: 80%;">

        <div class="card-body">
            <h1 class="card-title">¿Qué es Ofertapp?</h1>
            <p class="card-text">¡Bienvenido a nuestra aplicación de ofertas locales colaborativa! Aquí podrás encontrar
                las mejores ofertas y promociones en tu ciudad, ingresadas por otros usuarios como tú. Ya sea que estés
                buscando descuentos en restaurantes, tiendas, eventos o servicios, nuestra aplicación te mostrará las
                mejores ofertas cercanas a ti.

                Nuestra plataforma te permite ver y compartir ofertas en tiempo real, lo que significa que siempre
                tendrás acceso a las últimas promociones disponibles. Simplemente ingresa las ofertas que encuentres en
                la ciudad y otros usuarios podrán beneficiarse de ellas. Además, recibirás notificaciones en tiempo real
                sobre las ofertas más recientes ingresadas por otros usuarios en tu ciudad.

                Nuestra aplicación es fácil de usar y te permite buscar ofertas por categoría, distancia, precio y más.
                Podrás guardar tus ofertas favoritas y compartirlas con amigos y familiares.

                No más navegación interminable en línea o buscar folletos en papel para encontrar ofertas locales. Con
                nuestra aplicación, tendrás acceso a todas las ofertas en tiempo real y siempre estarás informado sobre
                las últimas promociones, gracias a la colaboración de otros usuarios.

                ¡Descarga nuestra aplicación de ofertas locales colaborativa ahora y comienza a ahorrar dinero mientras
                exploras tu ciudad!</p>

        </div>
    </div>
</main>

{{/template}}