

{{#> template}}

<main  id="main-subir">
    <div class="card card-subir" style="width: 20rem;">
        <div class="card-img-top" >
            <img src="/img/subir.png" alt="Imagen no Disponible" id="vistaPrevia" style="height: 20rem; width:25rem">
        </div>
        <div class="card-body">
            {{#if subidaOferta}}
                <div class="mb-3">
                    <p style="color: green;">Oferta guardada correctamente</p>
                </div>                
            {{/if}}
            <div class="mb-3" id="errorFetch" style="display: none;">
                    <p style="color: rgb(255, 0, 0);">ERROR - Oferta NO guardada</p>
            </div>
            <form id="formSubir" action="oferta-nueva">
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen</label>
                    <input type="file" class="form-control"  id="imagen" name="imagen">
                </div>
                <div class="mb-3">
                    <label for="lugar-url" class="form-label">Lugar o URL</label>
                    <input type="text" class="form-control" id="lugar" name="lugar-url" required>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="number" min="0" class="form-control" id="precio" name="precio" required>
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría</label>
                    <input list="categorias" type="text" class="form-control" id="categoria" name="categoria" required>
                    <datalist id="categorias">
                        {{#each categorias}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </datalist>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-subir">Subir</button>
            </form>
        </div>
    </div>
</main>


{{/template}}