#main-busqueda{
    display: flex!important;
    justify-content: center!important;
    flex-direction: column!important;
    width: 100%!important;
    align-items: center;
    flex-wrap: nowrap;
}
#container-ofertas{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    
}

#contenedor-busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4%;
    margin-top: 4%;
}


.card{
    padding: 0;
}

#divBusqueda{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:0px auto; 
}

#botonBuscar{
    border: none;
    height: 100%;
    width: 100%;
    border-top-right-radius: 2cm!important;
    border-bottom-right-radius: 2cm!important;
}

.card-img-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}