.container-ofertas{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card-result{
    height: 10rem;
    width: 10rem;
}

.card{
  display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
  flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    /* Estilos para pantallas grandes */
    .main-resultados {
      display: flex;
      justify-content: center;
    }
    form {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    /* Estilos para pantallas pequeñas */
    form {
      width: 100%;
    }
  }
  