<!DOCTYPE html>
<html lang="es">
<head>
    {{> head}}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        {{#if autenticacion}}
            {{> navuser}}
        {{else}}
            {{> nav}}
        {{/if}}
    </header>
    
    {{> @partial-block}}

   
</body>
<div>
    {{> scripts}}
</div>


